@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
	margin: 0;
}
.container-component {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container-component .container-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-component .container-form .container-input {
	width: 300px;
	margin: 10px;
}
.container-component .container-form .container-button {
	display: flex;
	margin: 10px;
	justify-content: center;
}
.container-component .container-form .container-button button {
	width: 250px;
}
